<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Edge_CustomOptionImage>
            <version>1.0.0</version>
        </Edge_CustomOptionImage>
    </modules>
    <global>
        <blocks>
            <customoptionimage>
                <class>Edge_CustomOptionImage_Block</class>
            </customoptionimage>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit_tab_options_option>Edge_CustomOptionImage_Block_Adminhtml_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
                    <catalog_product_edit_tab_options_type_select>Edge_CustomOptionImage_Block_Adminhtml_Product_Edit_Tab_Options_Type_Select</catalog_product_edit_tab_options_type_select>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <customoptionimage>
                <class>Edge_CustomOptionImage_Model</class>
                <resourceModel>customoptionimage_resource</resourceModel>
            </customoptionimage>
            <customoptionimage_resource>
                <class>Edge_CustomOptionImage_Model_Resource</class>
                <entities>
                    <customoptionimage>
                        <table>customoptionimage</table>
                    </customoptionimage>
                </entities>
            </customoptionimage_resource>
        </models>
        <helpers>
            <customoptionimage>
                <class>Edge_CustomOptionImage_Helper</class>
            </customoptionimage>
        </helpers>
        <resources>
            <customoptionimage_setup>
                <setup>
                    <module>Edge_CustomOptionImage</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </customoptionimage_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <customoptionimage before="Mage_Adminhtml">Edge_CustomOptionImage_Adminhtml</customoptionimage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <customoptionimage>
                    <file>edge/customoptionimage.xml</file>
                </customoptionimage>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <customoptionimage_save_custom_option_images>
                        <class>customoptionimage/observer_product</class>
                        <method>saveCustomOptionImages</method>
                    </customoptionimage_save_custom_option_images>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <customoptionimage>
                <use>standard</use>
                <args>
                    <module>Edge_CustomOptionImage</module>
                    <frontName>customoptionimage</frontName>
                </args>
            </customoptionimage>
        </routers>
        <layout>
            <updates>
                <customoptionimage>
                    <file>edge/customoptionimage.xml</file>
                </customoptionimage>
            </updates>
        </layout>
    </frontend>
</config>